// 主体
$co-main: #ff3838;

// 辅助
$co-vice: #3cbd70;

// 文字
$co-read: #111111;

// 备注
$co-note: #777777;

// 链接
$co-link: #ea3333;

// 消极
$co-warn: #ff3838;

// 背景
$co-back: #f5f5f5;

// 线条
$co-line: #dfdfdf;

// 文档
$co-file: #de0055;
